.email{
	width: 52%;
	margin: 0 25%;
}
.about h2{
	padding-top: 30px;
}
.about p{
	padding-top: 5px;
}
.black_white_02{
	height: 840px;
}
.img_preview {
    opacity: 1;
    margin-left: 5%;
}
.divider_light.line{
	margin-top: 10px;
}